body {
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
}

.hello {
	background-color: #445162;
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 50px 0;
	}
	&__row-body {
		color: white;
		padding: 0 30px 0 0;
	}
	&__body-title {
		font-size: 60px;
		line-height: 1.2;
		margin: 0 0 40px 0;
	}
	&__body-list {
	}
	&__body-list li {
		background: url('../images/Flex/Hello/chek.png') 0 1px no-repeat;
		font-size: 20px;
		line-height: 22px;
		padding: 0 0 0 35px;
		margin: 0 0 15px 0;
	}
	&__body-list li:last-child {
		margin: 0;
	}
	&__row-img {
	}
}

.what {
	&__row {
		padding: 50px;
		display: flex;
		flex-wrap: wrap;
	}
	&__row-img {
		flex: 0 0 430px;
	}
	&__row-img img {
		max-width: 100%;
	}
	&__row-body {
		flex: 1 1 650px;
		margin: 0 0 0 38px;
	}
	&__body-title {
		margin: 0 0 33px 0;
	}
	&__body-text {
		font-size: 16px;
		line-height: 24px;
		color: #333333;
	}
	&__body-text p:first-child {
		margin: 0 0 25px 0;
	}
}

.columns {
	padding: 50px 0 30px 0;
	background-color: #f5f5f5;
	&__title {
		text-align: center;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		padding: 31px 74px 0 50px;
		margin: 0 -8px;
	}
	&__row-column {
		flex: 0 1 50%;
		margin: 0 0 30px 0;
		padding: 0 8px;
	}
}

.item {
	&__row {
		display: flex;
	}
	&__img {
		flex: 0 0 200px;
	}
	&__body {
		padding: 0 0 0 15px;
	}
	&__title {
		font-size: 24px;
		line-height: 30px;
		color: #445161;
		margin: 0 0 5px 0;
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		color: #333333;
	}
}

.vertical {
	&__title {
		margin: 48px 0 29px 0;
		text-align: center;
	}
	&__body {
		padding: 0 0 50px 0;
		max-width: 990px;
		margin: 0 auto;
	}
	&__row {
		display: flex;
		margin: 0 -22.5px;
	}
	&__row-column {
		flex: 0 1 33.333%;
		display: flex;
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin: 0 22.5px;
		padding: 0 0 20px 0;
		border-radius: 5px;
		background-color: #445162;
		text-align: center;
	}
	&__item-title {
		padding: 11px 0;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		color: #ffffff;
	}
	&__item-subtitle {
		padding: 14px;
		font-size: 40px;
		color: #445162;
		background-color: white;
		border: 2px solid #445162;
	}
	&__item-text {
		flex: 1 1 auto;
		font-size: 14px;
		line-height: 24px;
		color: #ffffff;
		text-align: left;
		padding: 13px 20px 20px 20px;
	}
	&__item-text p {
		margin: 0 0 25px 0;
	}
	&__item-text p:last-child {
		margin: 0;
	}
	&__item-btn {
		display: block;
		height: 40px;
		padding: 13px;
		margin: 0 20px;
		border-radius: 5px;
		background-color: white;
		font-size: 18px;
		font-weight: 700;
		color: #445161;
	}
}

.footer {
	background-color: #f5f5f5;
	&__row {
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__column {
	}
	&__column-text {
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.025em;
		color: #445162;
	}
}
